<div class="fundo-stats ">

  
<div class="uk-container uk-margin-medium-top">

  <div  class=" uk-margin-medium-bottom uk-grid-collapse uk-grid-match uk-child-width-expand@s uk-text-center" uk-grid uk-grid-match>

  
      <div class="texto">
        <div>
          <h1 class="texto">4</h1>
          <p class="texto">Continentes</p>
        </div>
        


      </div>
  
      <div>
        <div>
          <h1 class="texto">20</h1> 
          <p class="texto">Países</p>
        </div>
        
      </div>
  
      <div>
        <div>
          <h1 class="texto">3</h1> 
          <p class="texto">Sistemas de cabos<br> internacionais</p>
        </div>
      </div>
      
      <div>
        <div>
          <h1 class="texto">30</h1> 
          <p class="texto">Pontos de Presença (PoP)</p>
        </div>
        </div>
  
      <div>
        <div>
          <h1 class="texto">20</h1> 
          <p class="texto">Cable Landing Stations (CLS)</p>
        </div>
        </div>
  </div>

</div>

<div class="uk-container uk-text-center">

<!-- This is an anchor toggling the modal -->
<a href="https://www.submarinecablemap.com/landing-point/sangano-angola"><button class="uk-border-rounded uk-margin-large-bottom texto uk-button uk-button-default uk-margin-small-right" type="button" uk-icon="eye">VER MAPA DA DA REDE </button>
</a>


-->

</div>
</div>
  <script>

    // Get all number elements
const numberElements = document.querySelectorAll('.stat-number');

// Function to animate a number
function animateNumber(element, endNumber) {
  let startNumber = 0;
  const increment = 10; // Adjust increment for animation speed
  const interval = setInterval(() => {
    startNumber += increment;
    element.textContent = startNumber;
    if (startNumber >= endNumber) {
      clearInterval(interval);
      element.textContent = endNumber;
      element.classList.add('animate-number'); // Trigger the CSS animation
    }
  }, 20); // Adjust interval for animation speed
}

// Call the function for each number element with the desired end number
numberElements.forEach((element, index) => {
  const endNumbers = [4, 20, 3, 30, 20]; // Replace with your desired end numbers
  animateNumber(element, endNumbers[index]);
});
  </script>
