.fundo-stats{
    background-image: url('/img/bg-connection-2.gif');
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(5, 0, 100, 0.788);
    background-blend-mode: darken;
    padding-top:  20px;

}


.texto{
    color:white !important;
    font-family: "Roboto", serif !important; 

}


.fundo-modal{
    background-color: white !important;
}
