<div class="fundo-grid ">

<div class="uk-container">

    <div class="uk-container uk-margin-large-top">
        <h1 style="color: white !important;" class="uk-text-center">Deep Connection</h1>
    </div>
    
    
    
<div  class="  uk-grid-medium uk-margin-large-top  uk-grid-collapse uk-grid-match uk-child-width-expand@s uk-text-center" uk-grid uk-grid-match>


    <div class=" fundo-connectivity texto uk-text-left uk-padding uk-border-rounded">
        
        <ul class="uk-nav uk-navbar-dropdown-nav">
           <h2 style="font-weight: 600;" class="texto">Conectividade mundial segura e de baixa latência</h2>
            <div>
                <b>SACS - South Atlantic Cable System</b>
                <p class="texto">
                    O nosso South Atlantic Cable System (SACS) é o primeiro sistema de cabos submarinos  no mundo a conectar África e a América do Sul. Este sistema de cabo ultramoderno e de elevada capacidade liga Fortaleza (Brasil) e Luanda (Angola) com a mais baixa latência entre os dois continentes. 
                    <br>
                    <br>
                    <br>
                    <br>
                    <br><span class="uk-margin-small-right" uk-icon="file-pdf"></span> PT | EN | FR


              
            </p>
            </div>
        </ul>
    </div>


    <div class=" fundo-datacenter texto uk-text-left uk-padding uk-border-rounded">
        
        <ul class="uk-nav uk-navbar-dropdown-nav">
            <h2 style="font-weight: 600;" class="texto">Data Centers TIER III com disponibilidade global</h2>
            <div>
                <b>ANGONAP Fortaleza - TIER III</b>
                <p class="texto">
                    Espaço expansível até 1000 racks 
                    <br>Dim. das Racks: 45U
                    <br>
                <br>

                </p>

                
                <b>ANGONAP Luanda - TIER III</b>
                <p class="texto">
                    Espaço expansível até 400 racks 
                    <br>Dim. das Racks: 42U
                    <br>
                
                
                
                <br>
                <br><span class="uk-margin-small-right" uk-icon="play-circle"></span> Ver Vídeo
            </p>
           

            </div>
        </ul>
</div>

    <div class=" fundo-cloud texto uk-text-left uk-padding uk-border-rounded">
        
        <ul class="uk-nav uk-navbar-dropdown-nav">
            <h2 style="font-weight: 600;" class="texto">Soluções para dados e Segurança e e produtividade</h2>
            <div>
                <b>Virtualização</b> 
                <p class="texto">
                    AntiDDoS L4, AntiDDoS L7, Clouds2Africa, Host2Africa,Host2Brasil, Cloud2Africa, Clouds2Africa, Backup2Africa, Backups2Brasil, SDWAN, AfPlay, AOPlay, AOLearn, Orquestrador Cloud

                <br>

                </p>

                
                <b>Marketplace</b> 
                <p class="texto">
                    DBaaS, ACProdutividade, FTPaaS, Vods2Africa, SAPB1, Kubernets, Runner, CDN AC, Drops2Africa, Baremetal2Africa

                <br>
            </p>
            </div>
        </ul>
</div>


</div>

<app-produtos></app-produtos>

</div>






</div>