<div style="font-weight: 800;" class="uk-container uk-margin-large-top">
    <h1 style="color:rgb(0, 0, 85) !important"  class="uk-text-center texto">Confiável . Transparente . Responsável </h1>

</div>        


        <div class=" uk-margin-large-bottom uk-child-width-1-3@s uk-text-center uk-flex uk-flex-middle" uk-grid uk-grid-match>
    
            <div class="uk-text-center uk-margin-medium-top">
                <img class="selos" src="img/world-interconected-angola-cables.png">
                <h3 class="texto uk-text-center">23ª operadora <br>mais conectada _do mundo</h3>
            </div>
          
            <div class="uk-text-center uk-margin-medium-top">
                <img class="selos" src="img/first-interconected-angola-cables.png">
                <h3 class="texto">1ª operadora <br>mais conectada de África</h3>
            </div>

            <div class="uk-text-center uk-margin-medium-top">
                <img class="selos" src="img/selocplp-pt-2024.png">
                <h3 class="texto">Operadora mais<br> conectada da CPLP</h3>

            </div>
            
        </div>
<div class="uk-container">
    <h1 style="color:rgb(0, 0, 85) !important"  class="uk-text-center texto">As Nossas Certificações </h1>

</div>

        <div class=" uk-margin-large-bottom uk-child-width-expand@s uk-text-center uk-flex uk-flex-middle" uk-grid uk-grid-match>
    
            <div class="uk-text-center uk-margin-medium-top">
                <img class="selos" src="img/selo-codigo.png">
            </div>
          
            <div class="uk-text-center uk-margin-medium-top">
                <img class="selos uk-border-rounded" src="img/tier-selo.png">
            </div>

            <div class="uk-text-center uk-margin-medium-top">
                <img class="selos" src="img/iso-selo.png">
            </div>

        </div>
        
    
