<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Acables</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.21.13/dist/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdn.jsdelivr.net/npm/uikit@3.21.13/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.21.13/dist/js/uikit-icons.min.js"></script>
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>

    <div class="uk-position-relative">

        <nav class="uk-navbar-container">
            <div class="uk-container">
                <div uk-navbar="dropbar: true; dropbar-anchor: !.uk-navbar-container; target-y: !.uk-navbar-container">
    
                    <div class="uk-navbar-center">
                        <a class="uk-navbar-item uk-logo" href="#"><img class="uk-logo" style="width: 150px; height: auto;" src="img/logo.png"></a>

                        <ul class="uk-subnav uk-navbar-nav">
                     
                            <li>
                                <a href="#"><b>CONNECTIVITY</b></a>
                                <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                                    <div class="uk-drop-grid uk-child-width-1-2" uk-grid>
                                        <div>
                                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                            
                                                <li class="uk-nav-header">TRANSPORT</li>
                                                <li class="uk-nav-divider"></li>

                                                <li><a href="#"> > Remote Hands</a></li>
                                                <li><a href="#"> > Smart Hands</a></li>
                                                <li><a href="#"> > Managed Services</a></li>
                                                <li><a href="#"> > Expert Hands</a></li>
                                                <li><a href="#"> > Consulting Services</a></li>
                                                <li><a href="#"> > Support Services</a></li>
                                                <li><a href="#"> > Smart Colocation</a></li>



                                            </ul>
                                        </div>
                                        <div>
                                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                                <li class="uk-nav-header">REAL ESTATE</li>
                                                <li class="uk-nav-divider"></li>

                                                <li><a href="#"> > Colocation</a></li>
                                                <li><a href="#"> > Power</a></li>
                                                <li><a href="#"> > Cross Conect</a></li>
                                                <li><a href="#"> > InnerDuct</a></li>
                                                <li><a href="#"> > Inter Connection</a></li>
                                                <li><a href="#"> > Disaster Recovery</a></li>
                                                <li><a href="#"> > Warehouse</a></li>
                                                <li><a href="#"> > Outdoor Colocation</a></li>
                                                <li><a href="#"> > DC Lease</a></li>




                                                
                                            </ul>
                                        </div>
                               
                                    </div>
                                </div>
                            </li>

                            <li>
                                <a href="#"><b>DATA CENTER</b></a>
                                <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                                    <div class="uk-drop-grid uk-child-width-1-2" uk-grid>
                                        <div>
                                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                            
                                                <li class="uk-nav-header">MANAGEMENT SERVICE</li>
                                                <li class="uk-nav-divider"></li>

                                                <li><a href="#"> > Remote Hands</a></li>
                                                <li><a href="#"> > Smart Hands</a></li>
                                                <li><a href="#"> > Managed Services</a></li>
                                                <li><a href="#"> > Expert Hands</a></li>
                                                <li><a href="#"> > Consulting Services</a></li>
                                                <li><a href="#"> > Support Services</a></li>
                                                <li><a href="#"> > Smart Colocation</a></li>



                                            </ul>
                                        </div>
                                        <div>
                                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                                <li class="uk-nav-header">INTEREAL ESTATERNET</li>
                                                <li class="uk-nav-divider"></li>

                                                <li><a href="#"> > Colocation</a></li>
                                                <li><a href="#"> > Power</a></li>
                                                <li><a href="#"> > Cross Conect</a></li>
                                                <li><a href="#"> > InnerDuct</a></li>
                                                <li><a href="#"> > Inter Connection</a></li>
                                                <li><a href="#"> > Disaster Recovery</a></li>
                                                <li><a href="#"> > Warehouse</a></li>
                                                <li><a href="#"> > Outdoor Colocation</a></li>
                                                <li><a href="#"> > DC Lease</a></li>




                                                
                                            </ul>
                                        </div>
                               
                                    </div>
                                </div>
                            </li>

                            <li>
                                <a href="#"><b>ICT</b></a>
                                <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                                    <div class="uk-drop-grid uk-child-width-1-2" uk-grid>
                                        <div>
                                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                            
                                                <li class="uk-nav-header">VIRTUALIZATION</li>
                                                <li class="uk-nav-divider"></li>

                                                <li><a href="#"> > AntiDDoS L4</a></li>
                                                <li><a href="#"> > AntiDDoS L7</a></li>
                                                <li><a href="#"> > Clouds2Africa</a></li>
                                                <li><a href="#"> > Host2Africa</a></li>
                                                <li><a href="#"> > Host2Brasil</a></li>
                                                <li><a href="#"> > Clouds2Brasil</a></li>
                                                <li><a href="#"> > SDWAN</a></li>
                                                <li><a href="#"> > AfPlay</a></li>
                                                <li><a href="#"> > AOPlay</a></li>
                                                <li><a href="#"> > AOLearn</a></li>
                                                <li><a href="#"> > Orquestrador Cloud</a></li>







                                            </ul>
                                        </div>
                                        <div>
                                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                                <li class="uk-nav-header">MARKETPLACE(Clouds2Africa)</li>
                                                <li class="uk-nav-divider"></li>

                                                <li><a href="#"> > DBaaS</a></li>
                                                <li><a href="#"> > ACProdutividade</a></li>
                                                <li><a href="#"> > FTPaaS</a></li>
                                                <li><a href="#"> > Vods2Africa</a></li>
                                                <li><a href="#"> > SAP B1</a></li>
                                                <li><a href="#"> > Kubernets</a></li>
                                                <li><a href="#"> > Runner</a></li>
                                                <li><a href="#"> > CDN</a></li>
                                                <li><a href="#"> > Drops2Africa</a></li>
                                                <li><a href="#"> > Baremetal2Africa</a></li>





                                                
                                            </ul>
                                        </div>
                               
                                    </div>
                                </div>
                            </li>

                            <li>
                                <a href="#"> Get to Know Us</a>
                                <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                                    <div class="uk-drop-grid uk-child-width-1-2" uk-grid>
                                        <div>
                                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                            
                                                <li class="uk-nav-header">Who are we?</li>
                                                <li class="uk-nav-divider"></li>

                                                <li><a href="#"> > History</a></li>
                                                <li><a href="#"> > Mission and Values</a></li>
                                                <li><a href="#"> > Stakeholder</a></li>
                                                <li><a href="#"> > Our Team</a></li>

                                                <li class="uk-nav-header">Partnerships</li>
                                                <li class="uk-nav-divider"></li>

                                                <li><a href="#"> > Become a partner</a></li>
                                                <li><a href="#"> > Become a reseller</a></li>
                                                <li><a href="#"> > Official Partners</a></li>
                                                <li><a href="#"> > Official Resellers</a></li>







                                            </ul>
                                        </div>
                                        <div>
                                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                                <li class="uk-nav-header">CERTIFICATIONS</li>
                                                <li class="uk-nav-divider"></li>

                                                <li><a href="#"> > Our Certifications</a></li>
                                                <li><a href="#"> > Our Partner's Certifications</a></li>
                                                <li><a href="#"> > Prizes</a></li>
                                                <li><a href="#"> > Trust Center </a></li>

                                                <li class="uk-nav-header">JOIN US</li>
                                                <li class="uk-nav-divider"></li>

                                                <li><a href="#"> > Recruitment</a></li>
                                                <li><a href="#"> > Events</a></li>
                                                <li><a href="#"> > Press Room</a></li>
                                                <li><a href="#"> > Newsletter</a></li>




                                                
                                            </ul>
                                        </div>
                               
                                    </div>
                                </div>
                            </li>

                        </ul>
    
                    </div>
    
                    <div class="uk-navbar-right">
    
                        <ul class="uk-navbar-nav">
                            <li>
                                <a href="#"><span class="uk-margin-small-right" uk-icon="world"></span></a>
                                <div class="uk-navbar-dropdown">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li><a href="#"> > West Africa</a></li>
                                        <li><a href="#"> > Europe</a></li>
                                        <li><a href="#"> > LATAM</a></li>

                                  
                                    </ul>
                                </div>
                            </li>
                        </ul>
    
                    </div>
    
                </div>
            </div>
        </nav>
    
    </div>

</body>
</html>
