<footer class="site-footer">
    <div class="container">
        <div class="footer-content uk-text-center">
  
            <!-- First Column: Address and Google Maps -->
           
            <!-- Second Column: Links and Contact Info -->
            <div class="footer-column">
                <ul class="social-links">
                    <li>Social:</li>
                    <li><a title="LinkedIn" rel="noopener" href="https://www.linkedin.com/company/fluxodigital-angola/" target="_blank" uk-icon="icon: linkedin"></a></li>
                    <li><a title="Facebook" rel="noopener" href="https://www.facebook.com/fluxodigi" target="_blank" uk-icon="icon: facebook"></a></li>
                    <!-- <li><a title="Instagram" href="https://www.instagram.com/fluxodigital.oficial/" target="_blank" uk-icon="icon: instagram"></a></li> -->
                </ul>
                
            </div>
  
            <!-- Third Column: Social Media Links and Contact Info -->
            <div class="footer-column">
                <a style="font-weight: 700;" href="" target="_blank">Privacidade</a>
             </div>

             <div class="footer-column">
                <a style="font-weight: 700;" href="" target="_blank">Política de Cookies</a>
             </div>

             
  
  
        </div>
    </div>


    <div class="footer-bottom">
        <div class="container uk-text-center">
            <p class="footer-copyright">© 2023 Angola Cables. Todos os direitos reservados.</p>
        </div>
    </div>
    

  
  </footer>

