<div class="uk-container">

    <div class="uk-margin-medium-right uk-margin-medium-left ">
        <div class="uk-container uk-text-center ">
           <i>Meet Us In </i> <b>  </b>
           <div>
            <h1 style="font-weight: 600; color: rgb(0, 0, 85);" class="texto uk-text-center">Eventos</h1>
           </div> 
           
        </div>
    </div>

</div>


<div class="uk-container uk-position-relative uk-margin-medium-top uk-margin-large-bottom uk-visible-toggle uk-light" tabindex="-1" uk-slider="autoplay: true; autoplay-interval: 3000; pause-on-hover: false">

 
    <div class="uk-slider-items uk-child-width-1-1 uk-child-width-1-2@m uk-grid uk-margin-large-botto" >
        <div>
            <div class="uk-panel uk-text-center">
                <img class="uk-border-rounded" src="/img/eventos/evento-1.png" >

            </div>
        </div>
        <div>
            <div class="uk-panel uk-text-center "> 
                <img class="uk-border-rounded" src="/img/eventos/evento-2.png">


                </div>
        </div>
   
      
      
     
    </div>

    <a style="color: white !important;" class="uk-position-center-left-out uk-position-small uk-hidden-hover" href uk-slidenav-previous uk-slider-item="previous"></a>
    <a style="color: white !important;" class="uk-position-center-right-out uk-position-small uk-hidden-hover" href uk-slidenav-next uk-slider-item="next"></a>

</div>