/* You can add global styles to this file, and also import other style files */
html{

  font-family: "Roboto", sans-serif !important; 


}

body, nav{
  font-weight:400;
  font-style: normal;
  color: black !important;

}

h1, h2, h3, h4, h5, h6{
  font-family: "Roboto", sans-serif !important; 
}


li,a  {
    font-weight: 300;
    font-style: normal;
    color: black !important;

}



p{
  font-weight:300;
  font-style: normal;
  color: black !important;

}