
<div class="uk-container">
    
    <div class=" uk-grid-collapse uk-child-width-expand@s uk-text-center uk-margin-large-top uk-margin-large-bottom" uk-grid>
        <div class="uk-margin-medium-right uk-margin-medium-left">
            <div class="uk-container uk-text-left ">
                <b> Porquê a ANGOLA CABLES? </b>
                <h1 style="font-weight: 600; color: rgb(0, 0, 85);" class="texto uk-text-left">Presença Local,<br> Negócio Global</h1>
                <p class="uk-text-left"> A Angola Cables é uma multinacional com escritórios em mais de 7 cidades, 5 países e 200 colaboradores, de vários horizontes e culturas. <br> Temos uma rede que cobre os 4 continentes do Atlântico.
A Angola Cables é hoje uma empresa preparada para os desafios da digitalização com infraestruturas e talento humano para operar em qualquer mercado.
                </p>
                <a class="uk-text-left uk-button uk-button-primary uk-border-rounded" href="https://angonap.com/" target="_blank">Saiba Mais</a>
            </div>
        </div>

        <div>
            <video
 
            autoplay
            loop
            muted
            id="promoVideo"
            class="promo-video uk-border-rounded"
          >
            <source src="vid/angola-cables.mp4" type="video/mp4">
            Seu não navegador não suporta o vídeo em falta.
          </video>
              </div>
       
    </div>

</div>

    